html{
    font-size: 62.5%;
}
#cards{
    margin: -50px 0 6rem 0;
    padding: 0 1.5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.card:hover{
    scale:1.015;
    transition: 250ms;
}
.card{
    background-color: rgb(250, 250, 250);
    height:290px;
    width: 25vw;
    min-width: 200px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: rgb(192, 192, 192) 0px 0px 12px;
}
.card img{
    height: 150px;
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card h2{
    font-size: 2.0rem;
    font-weight: 200px;
    text-align: left;
    margin: 1rem 0 1rem 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card p{
    font-size: 2rem;
    font-weight: 200px;
    text-align: left;
    margin: 1rem 0 1rem 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#logo-section{
    margin: 5rem 0;
    padding: 0.5rem 0 2rem 0;
    position: relative;
}
#logo-section h1{
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 4.0rem;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logos{
    white-space: nowrap;
    overflow: hidden;
    margin: 1.5rem 0;
}
#logo-section::before,
#logo-section::after{
    position: absolute;
    content: '';
    display: inline-block;
    height: 100%;
    width: 10vw;
    z-index: 2;
}
#logo-section::before{
    top: 0;
    left: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(255, 255, 255));
}
#logo-section::after{
    top: 0;
    right: 0;
    background-color: red;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255));
}
.logo{
    display: inline-block;
    animation-name: anime;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.logo i{
    font-size: 8.0rem;
    margin: 0 1.5rem;
    align-items: center;
    justify-content: center;
}
@keyframes anime {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
    
}


/* Responsiveness */


@media screen and (max-width:500px) {
    html{
        font-size: 45%;
    }
    .card{
        height:180px;
        min-width: 170px;
    
    }
    .card img{
        height: 100px;
        width:100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .card h2{
        font-size: 2.3rem;
        font-weight: 200px;
        text-align: left;
        margin: 1rem 0 1rem 1rem;
    }
}